<%# Non-link tag that stands for skipped pages...
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="page gap h-9 w-9 mx-2 flex justify-center items-end"><%= t('views.pagination.truncate').html_safe %></span>
