<header class="text-cyan-900 body-font bg-emerald-200">
    <div class="container mx-auto flex p-6 flex-row sm:flex-row items-center">
        <%= link_to root_path do %>
        <%= image_tag 'alpha_logo.png', size: "240x200", class:"font-hiragino object-fill"%>
        <!-- <span
            class="ml-3 text-4xl flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 font-logo"></span> -->
        <% end %>
        <nav class="md:ml-auto flex items-center text-base justify-center invisible  md:visible ">
            <a class="mr-6 sm:text-sm md:text-base hover:text-gray-900">Category</a>
            <!-- <a class="mr-5 hover:text-gray-900">Second Link</a>
            <a class="mr-5 hover:text-gray-900">Third Link</a> -->
            <a class="mr-10 sm:text-sm md:text-base hover:text-gray-900">Lang</a>
        </nav>
        <nav class="md:invisible">
            <%= link_to root_path  do %>
            <i class="fa-solid fa-bars fa-2x"></i>
            <% end %>
        </nav>
    </div>
</header>
